/* CSS Document */
#mainPage .ui-content {
	margin: 0;
	padding: 0 !important;
}
.popover-content {
	min-width: 300px;
}
#marker, #center_marker {
	display:none;
	width: 25px;
	height: 25px;
	border: 2px solid #800;
	border-radius: 16px;
	background-color: #F10;
	opacity: 0.7;
}
#markerTitle, #center_markerTitle {
	display:none;
	text-decoration: none;
	color: black;
	font-size: 12pt;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em;
}

#lblNinka.ui-checkbox-on {
	background-color: #6EE100;
}

#lblNinkagai.ui-checkbox-on {
	background-color: #0362A0;
}

#lblKindergarten.ui-checkbox-on {
	background-color: #FF5C24;
}

#lblMiddleSchool.ui-checkbox-on {
	background-color: #7379AE;
}

#lblElementarySchool.ui-checkbox-on {
	background-color: #1BA466;
}

.ol-popup {
	display: none;
	position: absolute;
	background-color: white;
	width: 300px;
	left: -150px;

	border-radius: 10px;
	border: 1px solid #cccccc;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.5));
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.5));
}

/*吹き出し風表示用の定義 */
/*
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
*/
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 150px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 150px;
	margin-left: -11px;
}

.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: -8px;
}
.ol-popup-closer:after {
	content: "x";
}
#popup-closer {
	top: -5px;
	right: -5px;
}

.ol-popup #popup-nav .ui-btn {
	margin-top: 0;
	border-top: none;
}

.ol-popup #popup-nav .ui-btn.ui-state-active {
	background-color: #ff0;
}

.ol-popup table {
	width: 100%;
}

#popup-content {
	max-height: 300px;
	overflow: scroll;
}

#popup-content th {
	width: 5.5em;
	vertical-align: top;
	background-color: white;
	white-space: nowrap;
}

#popup-content td {
	vertical-align: top;
	background-color: white;
}

.move-current-location {
	position: absolute;
	top: 270px;
	left: 8px;
	background-color: rgba(0,60,136,0.5);
	border-radius: 4px;
	padding: 4px;
}
.ol-touch .move-current-location {
	top: 270px;
}
.move-current-location:hover,
.move-current-location:focus {
	text-decoration: none;
	background-color: #4c6079;
	background-color: rgba(0,60,136,0.7);
}
.ui-btn-icon-notext {
	width: 32px;
	height: 32px;
}

#btnHelp, #lblDisplayCircle {
	width: 45px;
}

#lblDisplayCircle, #cbDisplayCircle {
	display: none;
}

h3 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

legend {
	margin-bottom: 0;
}

/** お気に入り一覧 */
#favorite-list .ui-controlgroup, fieldset.ui-controlgroup {
	margin: 0;
}

#favorite-list form .ui-controlgroup-vertical .ui-btn {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

#favorite-list .ui-controlgroup-vertical .ui-state-active .ui-btn {
	border-bottom-width: 1px;
}

#favorite-list .ui-controlgroup-vertical .ui-state-active + .ui-state-active .ui-btn {
	border-top-width: 0;
}

/* 園比較テーブル */
table.nursery-compare thead th {
	background-color: #fff;
}

table.nursery-compare thead th h3 {
    font-size: .9em;
		margin-top: .4em;
    margin-bottom: .8em;
}

table.nursery-compare th.item-label {
	text-transform: uppercase;
	font-size: 0.6em;
	opacity: 0.5;
	padding: 1.2em .8em;
	background-color: #ddd;
	white-space: nowrap;
}

table.nursery-compare tbody tr.nursery-type td {
	background-color: #fff;
}

table.nursery-compare tbody td {
	width: 50%;
}


/* お気に入り削除 */
div#favorite-list div.ui-controlgroup-controls div.ui-checkbox {
	display:table;
	width: 100%;
}

div#favorite-list div.ui-controlgroup-controls div.ui-checkbox div.delete-favorite-left {
	display:table-cell;
	width: 95%;
	background-color: #f6f6f6;
	border-bottom: 1px solid #ddd;
}

div#favorite-list div.ui-controlgroup-controls div.ui-checkbox div.delete-favorite-right {
	display:table-cell;
	width: 5%;
	background-color: #f6f6f6;
	border-bottom: 1px solid #ddd;
}

div#favorite-list div.ui-controlgroup-controls div.ui-checkbox div.delete-favorite-left label {
	margin-bottom: 1px;
	border: 0px;
}

div#favorite-list div.ui-controlgroup-controls div.ui-checkbox div.delete-favorite-right a {
	border-style: none;
}

div#favorite-list div#popupBasic-popup div#popupBasic {
	padding: 5%;
}

div#favorite-list div#popupBasic-popup div#popupBasic ul li {
	display: inline-block;
	width: 40%;
}

div#favorite-list div#popupBasic-popup div#popupBasic ul li a {
	text-decoration: none;
}

div#favorite-list .ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn.ui-last-child {
    border-bottom-width: 0;
}
